@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


.home{
    width: 1400px;
    border: 1px solid;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    &__header {
        width: 100%;
        height: 60px;
        background: #341F47;
    }
    &__list {
        list-style: none;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    &__items h1{
        color: white;
    }
    &__item {
        position: relative;
    }
    &__item1{
        row-gap: 65px
        ;
    }
    &__input {
        border-radius: 10px;
        width: 645px;
        height: 50px;
    }
    &__item i {
        width: 30px;
        height: 30px;
        position: absolute;
        color: #341F47;
        top: 10px;
        display: flex;
        align-items:center;
        right: 10px;
    }
    &__contain {
        width: 100%;
        height: 525px;
        display: flex;
        
    }
    &__bar {
        width: 105px;
        height: 100%;
        background: #341F47;
        border: 1px solid;
    }
    &__main {
        width: 92.5%;
    }
    &__icon {
        border: 2px solid #FFFFFF;
        border-radius: 10px;
        color: white;
        width: 30px;
        height: 30px;
        font-size: 12px;
    }
}

.dark {
    background: white;
    color: #341F47;
    width: 100px;
    height: 45px;
    border-radius: 15px;
    text-align: center;
}
.light {
    color: white;
    background: #341F47;
    width: 100px;
    height: 45px;
    text-align: center;
}

.dark1 {
    background: white;
    color: #341F47;
    width: 100px;
    height: 45px;
    border-radius: 15px;
    text-align: center;
}
.light1 {
    color: white;
    background: #341F47;
    width: 100px;
    height: 45px;
    text-align: center;
}

